body{
    max-width: 1124px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 1124px;
    background-color: white;
    position: sticky;
    top: 0px;
}
.signUp{
    display: flex;
    align-items: center;
    width: 134px;
    justify-content: space-around;
}
.signIn{
    width: 78px;
    height: 40px;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}
.hero{
    background-image: url(./assets/image/photo.png);
    height: 364px;
    display: flex;
    align-items: center;
}
.name{
    background-color: white;
    width: 389px;
    height: 204px;
    margin-left: 80px;
}
h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    justify-content: center;
    color: #1d1d1d;
}
.hero-price{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #626262;
    display: inline;
    margin: 38px;
}
.hero-time{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: white;
    background: #262626;
    border-radius: 16px;
    width: 100px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 38px;
}
.menu{
    max-width: 1124px;
    height: 80px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(117, 117, 117, 0.2);
}
.menu-ul{
    display: flex;
    list-style: none;
}
.menu-link{
    text-decoration: none;
    margin-left: 40px;
    font-weight: 400;
    font-size: 16px;
    color: #626262;
}
.hero-link{
    color: #327430;
}
.headerFood{
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
    margin: 56px auto 32px 81px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 470px;
    height: 160px;
    display: flex;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    margin: 8px;
    justify-content: space-between;
}
.card-text{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-left: 16px;
}
.food-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
}
.food-price{
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1D1D1D;
}
.border{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}
.footer{
    max-width: 1124px;
    background: #262626;
}
.white-logo{
    margin: 56px 0px 40px;
}
.footer-info{
    max-width: 956px;
    margin: 0 auto;
}
.language{
    background: #3B3B3B;
    border-radius: 2px;
    width: 227px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-top: 32px;
}
.language>img{
    margin-left: 30px;
}
.uber{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
span{
    color: #49A144;
}
.socia{
    width: 96px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 33px 0px 55px;
}
.partner-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.partner-link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
.partner-list{
    margin: 0px 0px 23px;
}
.help-ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.help-list{
    margin: 0px 0px 23px;
}
.help-link{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;   
}
.grid{
    display: flex;
    justify-content: space-around;
}
.partner{
    margin: 35px 134px 0px 97px;
}
.help{
    margin: 35px;
}
.app{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ios{
    margin-right: 40px;
}
.copy{
    display: flex;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    justify-content: space-around;
}
.footerText{
    margin: 40px 0px 40px;
}
.button{
    display: flex;
    justify-content: end;
}
.Up{
    position: fixed;
    bottom: 24px;
}